<span
  class="inline-flex items-center"
  (contextmenu)="$event.preventDefault(); listMenuTrigger.toggleMenu()"
  (click)="listMenuTrigger.closeMenu()"
  [matMenuTriggerFor]="groupMenu"
  #listMenuTrigger="matMenuTrigger"
>
  @if ((list.snippets | keyvalue).length > 0) {
    <ng-icon
      [name]="list.open ? 'ionChevronDown' : 'ionChevronForward'"
    ></ng-icon>
  }

  {{ list.name }}
</span>

@if (list.open && (list.snippets | keyvalue).length) {
  <ul (click)="$event.stopPropagation()">
    @for (snippet of list.snippets | keyvalue; track snippet.key) {
      <li
        class="relative pl-4"
        (contextmenu)="$event.preventDefault(); groupMenuTrigger.toggleMenu()"
        (click)="groupMenuTrigger.closeMenu()"
        [matMenuTriggerFor]="listMenu"
        #groupMenuTrigger="matMenuTrigger"
      >
        <a routerLink="." [queryParams]="{ snippetId: snippet.key }">{{
          snippet.value.title
        }}</a>

        @if (activeSnippetId === snippet.key) {
          <!-- TODO: find a better way to achieve this styling. Expand to the entire width of the sidebar -->
          <div
            class="absolute inset-x-0 top-0 -z-10 -ml-[32px] -mr-[9px] h-full bg-gray-200"
          ></div>
        }
      </li>
    }
  </ul>
}

<!-- TODO: use angular directive overriding -->
<mat-menu #groupMenu="matMenu" [hasBackdrop]="false">
  <button mat-menu-item>Group Item 1</button>
  <button mat-menu-item>Group Item 2</button>
</mat-menu>

<mat-menu #listMenu="matMenu" [hasBackdrop]="false">
  <button mat-menu-item>List Item 1</button>
  <button mat-menu-item>List Item 2</button>
</mat-menu>
