<span class="inline-flex items-center" (click)="toggleList()">
  <ng-icon
    [name]="isExpanded ? 'ionChevronDown' : 'ionChevronForward'"
  ></ng-icon>

  {{ list.name }}
</span>

@if (isExpanded && list.snippets?.length) {
  <ul (click)="$event.stopPropagation()">
    @for (snippet of list.snippets; track snippet.id) {
      <li class="relative pl-4" [matMenuTriggerFor]="snippetMenu" isContextMenu>
        <a routerLink="." [queryParams]="{ snippetId: snippet.id }">{{
          snippet.title
        }}</a>

        @if (activeSnippetId === snippet.id.toString()) {
          <!-- TODO: find a better way to achieve this styling. Expand to the entire width of the sidebar -->
          <div
            class="absolute inset-x-0 top-0 -z-10 -ml-[32px] -mr-[9px] h-full bg-gray-200"
          ></div>
        }

        <mat-menu #snippetMenu="matMenu" [hasBackdrop]="false">
          <button
            mat-menu-item
            (click)="editSnippet(snippet.id, snippet.title, list.id)"
          >
            Rename
          </button>
          <button mat-menu-item (click)="deleteSnippet(snippet.id)">
            Delete
          </button>
        </mat-menu>
      </li>
    }
  </ul>
}

<ng-template #editSnippetBodyTemplateRef>
  <p class="flex flex-col">
    <input
      type="text"
      class="peer w-full border p-2 text-sm"
      [ngClass]="{
        '!border-red-700': name.invalid && (name.touched || name.dirty)
      }"
      [ngStyle]="{
        '--tw-ring-color': 'transparent'
      }"
      [(ngModel)]="snippetTitle"
      required
      #name="ngModel"
    />
    <!-- Add explicit height to prevent UI layout shifts -->
    <span class="block h-[20px] peer-invalid:text-red-700">
      @if (name.invalid && (name.touched || name.dirty)) {
        <span class="text-sm">Name is required</span>
      }
    </span>
  </p>
</ng-template>
