<div class="mb-2 flex justify-between p-2">
  <span>{{ snippet.title }} </span>
  <div class="flex items-center gap-1">
    @if (!shouldEdit) {
      <button type="button" class="inline-flex items-center">
        <ng-icon name="ionCopyOutline" class="mr-1"></ng-icon>
        Copy
      </button>
      <button
        type="button"
        class="inline-flex items-center"
        (click)="editSnippet(snippet.id)"
      >
        <ng-icon name="ionPencilSharp" class="mr-1"></ng-icon>
        Edit
      </button>
    } @else {
      <select
        #langSelect
        [(ngModel)]="snippet.language"
        (change)="setLanguage(langSelect.value)"
      >
        @for (lang of languages; track lang.id) {
          <option value="{{ lang.id }}">{{ lang.id }}</option>
        }
      </select>
      <button
        type="button"
        class="inline-flex items-center"
        (click)="saveSnippet(snippet.id)"
      >
        <ng-icon name="ionCheckmarkSharp" class="mr-1"></ng-icon>
        Save
      </button>
      <button
        type="button"
        class="inline-flex items-center"
        (click)="cancelUpdateSnippet()"
      >
        <ng-icon name="ionClose" class="mr-1"></ng-icon>
        Cancel
      </button>
    }
  </div>
</div>

<div class="code-editor-container">
  <ngx-monaco-editor
    class="code-editor !h-full"
    [options]="editorOptions"
    [(ngModel)]="editorContent"
    (ngModelChange)="trackUnsavedChanges($event)"
    (onInit)="onEditorInit($event)"
    (dblclick)="editSnippet(snippet.id)"
  ></ngx-monaco-editor>
</div>
