<div class="mb-2 flex justify-between p-2">
  <span>{{ snippet.title }} </span>
  <div class="flex items-center gap-1">
    <select
      #langSelect
      [(ngModel)]="snippet.language"
      (change)="setLanguage(langSelect.value)"
    >
      @for (lang of languages; track lang.id) {
        <option value="{{ lang.id }}">{{ lang.id }}</option>
      }
    </select>
    <button type="button" class="inline-flex items-center">
      <ng-icon name="ionCopyOutline"></ng-icon>
    </button>
  </div>
</div>

<div class="code-editor-container">
  <ngx-monaco-editor
    class="code-editor !h-full"
    [options]="editorOptions"
    [(ngModel)]="snippet.content"
    (onInit)="onEditorInit($event)"
  ></ngx-monaco-editor>
</div>
