<div class="flex items-center justify-between p-2">
  <div
    class="inline-flex items-center"
    [ngClass]="{ 'cursor-pointer': !isEditInProgress }"
    (click)="setTitleEditable(true)"
  >
    @if (!isTitleEditable || savingInProgress) {
      <span
        [attr.contenteditable]="isTitleEditable"
        class="outline-none"
        [textContent]="editorTitle"
      >
      </span>
      <ng-icon name="ionPencilOutline" class="ml-1"></ng-icon>
    } @else {
      <div class="inline-flex items-stretch">
        <input
          type="text"
          class="rounded-l border border-gray-400 p-0.5 outline-none"
          [(ngModel)]="editorTitle"
          (ngModelChange)="updateTitle()"
          autofocus
        />
        @if (!savingInProgress) {
          <button
            type="button"
            class="rounded-r bg-blue-600 px-2 py-0.5 text-white disabled:opacity-50"
            (click)="setTitleEditable(false); $event.stopPropagation()"
            [disabled]="savingInProgress"
          >
            Update
          </button>
        }
      </div>
    }
  </div>

  <div class="flex items-stretch gap-1">
    <select
      #langSelect
      [(ngModel)]="editorLanguage"
      (change)="updateEditorLanguage(langSelect.value)"
      class="w-[320px] truncate rounded border border-gray-400 p-0.5"
    >
      <option value="">Select a language</option>
      @for (lang of languages; track lang.id) {
        <option value="{{ lang.id }}">{{ lang.id }}</option>
      }
    </select>
    <button
      type="button"
      class="inline-flex items-center rounded bg-blue-600 px-2 py-0.5 text-white disabled:opacity-50"
      (click)="saveSnippet(activeSnippet.id)"
      [disabled]="!isEditInProgress || savingInProgress"
    >
      @if (savingInProgress) {
        <ng-icon name="tablerLoader2" class="mr-1 animate-spin"></ng-icon>
      }
      Save
    </button>
    <button
      type="button"
      class="inline-flex items-center rounded bg-blue-600 px-2 py-0.5 text-white disabled:opacity-50"
      (click)="cancelUpdate()"
      [disabled]="!isEditInProgress || savingInProgress"
    >
      Cancel
    </button>
  </div>
</div>

<div class="code-editor-container">
  <ngx-monaco-editor
    class="code-editor !h-full"
    [options]="editorOptions"
    [(ngModel)]="editorContent"
    (ngModelChange)="updateEditorContent($event)"
    (onInit)="onEditorInit($event)"
  ></ngx-monaco-editor>
</div>
