<ul class="flex w-full">
  @for (list of lists; track list.id) {
    <li
      class="w-[100px] flex-1 cursor-pointer"
      (click)="toggleSnippets(list.id)"
      [matMenuTriggerFor]="listMenu"
      isContextMenu
    >
      <app-list [list]="list" [activeSnippetId]="activeSnippetId"></app-list>

      <mat-menu #listMenu="matMenu" [hasBackdrop]="false">
        <button mat-menu-item (click)="editList(list.id)">Edit</button>
        <button mat-menu-item (click)="deleteList(list.id)">Delete</button>
      </mat-menu>
    </li>
  }
</ul>
