<ul class="flex w-full flex-col">
  @for (list of lists; track list.id) {
    <li
      class="w-full flex-1 cursor-pointer"
      [matMenuTriggerFor]="listMenu"
      isContextMenu
    >
      <app-list [list]="list" [activeSnippetId]="activeSnippetId"></app-list>

      <mat-menu #listMenu="matMenu" [hasBackdrop]="false">
        <button
          mat-menu-item
          (click)="editList({ id: list.id, name: list.name })"
        >
          Rename
        </button>
        <button mat-menu-item (click)="deleteList(list.id)">Delete</button>
      </mat-menu>
    </li>
  }
</ul>
