<div class="grid h-full grid-cols-4" role="main">
  <div id="sidebar" class="col-span-1 border-r border-r-gray-400 p-2">
    <div class="mb-2 flex justify-between">
      <span>My Snippets</span>
      <button type="button" class="inline-flex items-center">
        <ng-icon name="ionAdd"></ng-icon>
      </button>
    </div>
    <div class="flex items-center">
      <ul class="flex">
        @for (group of groups; track group.id) {
          <li class="w-[100px] cursor-pointer" (click)="toggleGroup(group.id)">
            <span class="inline-flex items-center">
              @if (lists[group.id]?.length) {
                <ng-icon
                  [name]="group.open ? 'ionChevronDown' : 'ionChevronForward'"
                ></ng-icon>
              }

              {{ group.name }}
            </span>

            <!-- TODO: convert to list component -->
            @if (group.open && lists[group.id]?.length) {
              <ul class="pl-4" (click)="$event.stopPropagation()">
                @for (list of lists[group.id]; track list.id) {
                  <li (click)="toggleSnippets(group.id, list.id)">
                    <span class="inline-flex items-center">
                      @if ((list.snippets | keyvalue).length > 0) {
                        <ng-icon
                          [name]="
                            list.open ? 'ionChevronDown' : 'ionChevronForward'
                          "
                        ></ng-icon>
                      }

                      {{ list.name }}
                    </span>

                    <!-- TODO: convert to snippetscomponent -->
                    @if (list.open && (list.snippets | keyvalue).length) {
                      <ul class="pl-4" (click)="$event.stopPropagation()">
                        @for (
                          snippet of list.snippets | keyvalue;
                          track snippet.key
                        ) {
                          <li>{{ snippet.value.title }}</li>
                        }
                      </ul>
                    }
                  </li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </div>
  </div>
  <div id="content" class="col-span-3 p-2">
    <div class="flex justify-between">
      <span>Title</span>
      <div class="flex items-center gap-1">
        <select name="" id="">
          <option value="">javascript</option>
        </select>
        <button type="button" class="inline-flex items-center">
          <ng-icon name="ionCopyOutline"></ng-icon>
        </button>
      </div>
    </div>

    <!-- content -->
    <div [contentEditable]="true"></div>
  </div>
</div>
