<div class="grid h-full grid-cols-4" role="main">
  <div
    id="sidebar"
    class="col-span-1 flex flex-col border-r border-r-gray-400 p-2"
  >
    <div class="mb-2 flex justify-between">
      <a routerLink="/">My Snippets</a>
      <button
        type="button"
        class="inline-flex items-center"
        [matMenuTriggerFor]="rootMenu"
        isDropdownMenu
      >
        <ng-icon name="ionEllipsisHorizontal"></ng-icon>
      </button>
    </div>
    <div class="flex items-center">
      <app-list-group
        [lists]="lists"
        [activeSnippetId]="(activeSnippetId$ | async) || ''"
      ></app-list-group>
    </div>
    <div class="mt-auto py-2">
      <button type="button" (click)="logout()">Logout</button>
    </div>
  </div>

  <div id="content" class="col-span-3">
    @if (activeSnippetId$ | async; as snippetId) {
      <app-snippet [snippetId]="snippetId"></app-snippet>
    } @else {
      <p>default view</p>
    }
  </div>
</div>

<mat-menu #rootMenu="matMenu" [hasBackdrop]="false" xPosition="before">
  <button mat-menu-item (click)="openListModal()">New List</button>
  <button mat-menu-item>New Snippet</button>
</mat-menu>
