<div class="grid h-full grid-cols-4" role="main">
  <div id="sidebar" class="col-span-1 border-r border-r-gray-400 p-2">
    <div class="mb-2 flex justify-between">
      <span>My Snippets</span>
      <button type="button" class="inline-flex items-center">
        <ng-icon name="ionAdd"></ng-icon>
      </button>
    </div>
    <div class="flex items-center">
      <app-groups
        [groups]="groups"
        [lists]="lists"
        [activeSnippetId]="(activeSnippetId$ | async) || ''"
      ></app-groups>
    </div>
  </div>
  <div id="content" class="col-span-3">
    <app-snippet [snippetId]="(activeSnippetId$ | async) || ''"></app-snippet>
  </div>
</div>
