<div class="flex h-full items-center justify-center">
  <div class="text-center">
    <ng-icon
      name="ionCodeSlashOutline"
      class="mx-auto h-10 w-auto"
      style="--ng-icon__size: 3em"
    ></ng-icon>
    <p>
      Turbo-charge your productivity by organizing your favorite code snippets.
    </p>
    <div>
      <p>
        Press <kbd class="bg-gray-200 p-1 font-semibold">CTRL</kbd> +
        <kbd class="bg-gray-200 p-1 font-semibold">N</kbd> to create a list.
      </p>
      <p>
        Press <kbd class="bg-gray-200 p-1 font-semibold">CTRL</kbd> +
        <kbd class="bg-gray-200 p-1 font-semibold">K</kbd> to search snippets.
      </p>
    </div>
  </div>
</div>
